.DS_Store
*.code-workspace
broker-service/brokerApp
front-end/frontApp
authentication-service/authApp
project/db-data/**
logger-service/loggerServiceApp
mail-service/mailApp
listener-service/listenerApp
